/.DS_Store
/.RData
/.Rhistory
/.Rproj.user
/average time to decide rain cloud.png
/average_inflates_per_game.png
/demographic_analysis_results.txt
/inflates_after_robot_suggestion.png
/objective_data_analysis_results.txt
/reaction_time.R
/reaction_time.png
/reaction_time_results.txt
/survey_data_analysis_results.txt
/time_to_decide.png